/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template, bootstrap template etc. 

*/

/* =========== CSS FILE INDEX =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Responsive CSS ----- */
/* =========== CSS FILE INDEX =========== */

/* ===== STYLE INDEX ===== */
/* 
  1. Header Section
  2. Hero/Banner Section
  3. Category Section
  10. Footer Section
  */
/* ===== STYLE INDEX ===== */

/* =================== NEXT CSS FILE =================== */
/* ===== VENDOR CSS ===== */
/* =================== NEXT CSS FILE =================== */

/* ===== IMPORT CSS FILE ===== */
@import "./utilities.css";
@import "./responsive.css";
/* ===== IMPORT CSS FILE ===== */

/* ===== NAVBAR START ===== */
/* ===== NAVBAR END ===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== FOOTER START===== */
/* ===== FOOTER END===== */
