/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template, bootstrap template etc. 

*/

/* =========== CSS FILE INDEX =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Responsive CSS ----- */
/* =========== CSS FILE INDEX =========== */

/* ===== STYLE INDEX ===== */
/* 
  1. Header Section
  2. Hero/Banner Section
  3. Category Section
  10. Footer Section
  */
/* ===== STYLE INDEX ===== */

/* =================== NEXT CSS FILE =================== */
/* ===== VENDOR CSS ===== */
/* =================== NEXT CSS FILE =================== */

/* ===== IMPORT CSS FILE ===== */
@import "./utilities.css";
@import "./responsive.css";
/* ===== IMPORT CSS FILE ===== */

/* ===== NAVBAR START ===== */
.top-navbar ul li a {
  font-weight: 400;
  font-size: 12px;
  color: var(--bs-gray-600);
}

.top-navbar .navbar-nav {
  flex-direction: row;
  gap: 30px !important;
}

/* main Navbar */
.main-navbar .nav-logo img {
  max-width: 400px;
}
/* ===== NAVBAR END ===== */

/* ===== Hero/Banner START===== */
.hero-area {
  height: 614px;
  background-color: #f8f8f8;
}

.hero-area .left-contents h1 {
  font-weight: 700;
  font-size: 54px;
  color: var(--bs-primary);
  line-height: 81px;
}

.hero-area .left-contents p {
  font-weight: 400;
  font-size: 20px !important;
  /* line-height: 24px; */
  color: var(--bs-gray-600) !important;
}
/* ===== Hero/Banner END===== */

/* ===== New Products START===== */
.card {
  background-color: #f3f3f3;
}

.product .product-img {
  height: 537.93px;
  cursor: pointer;
}

.product .card-body h5 {
  font-weight: 500;
  font-size: 24px;
}

.product:hover {
  box-shadow: var(--shadow-small);
  transition: all 300ms ease;
}

.badge-area {
  width: 147px;
  height: 31px;
  background-color: var(--bs-secondary);
}

.badge {
  font-weight: 400 !important;
  font-size: 16px;
  font-style: normal;
}
/* ===== New Products END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== FOOTER START===== */
/* ===== FOOTER END===== */
