:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: Montserrat, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/* ===== Custom Utilities ===== */
a,
p {
  color: #222222 !important;
}

i {
  font-style: normal;
}

.fa-solid {
  /* color: var(--bs-gray-600); */
}

/* ===== Title ===== */
.section-title {
  /* font-weight: 700;
  font-size: 28px;
  color: var(--bs-gray-900); */
}

.page-title {
  /* font-weight: 700;
  font-size: 32px;
  color: var(--bs-gray-900); */
}

/* ===== Background color ===== */
.bg-primary {
  /* background: rgba(60, 118, 242, 1) !important; */
}

.bg-secondary {
}

.bg-info {
  /* background: rgba(60, 118, 242, 1) !important; */
}

.bg-success {
  /* background: rgba(7, 201, 139, 1) !important; */
}

.bg-secondary {
}

/* Text Color */
.text-primary {
}

.text-secondary {
}

.text-success {
  /* color: var(--bs-success) !important; */
}

.text-info {
  /* color: #3c76f2 !important; */
}

/* Button */
.btn {
}

.btn:hover {
  /* background-color: #fd390e !important; */
}

.btn-primary {
  /* padding: 14px 32px;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: var(--bs-primary);
  border-color: var(--bs-primary);
  font-weight: 700;
  font-size: 16px; */
}

/* --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary); */

.btn-primary:hover {
}

.btn-secondary {
}

.btn-secondary:hover {
}

.btn-primary-outline {
}

.btn-primary-outline:hover {
  /* color: var(--bs-white) !important; */
}

/* ===== Border ===== */
.hr {
  /* border: none; */
  /* border: 1px solid var(--bs-gray-300); */
}

.border-bottom {
  /* border-bottom: 1px solid var(--bs-gray-300) !important; */
}

.border-top {
  /* border-top: 1px solid var(--bs-gray-300) !important; */
}

/* ===== from start ===== */
.form-control[type="search"],
[type="text"] {
  box-shadow: none !important;
}

/* .form-control[type="date"],
[type="text"] {
  color: var(--bs-gray-600);
}

.form-control,
.form-select {
  height: 44px;
}

.form-control:focus,
.form-select:focus,
.form-control[type="date"]:focus,
[type="text"]:focus,
.form-control:focus {
  border-color: var(--bs-gray-300) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
} */
/* ===== from end ===== */
